* {
    padding: 5px;
}

th {
    background-color: red;
}

input, input:focus {
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

.full-width {
    width: 98%;
}

table {
    margin: auto;
    border: 3px solid black;
}

.small-font {
    font-size: small;
}

.large-font {
    font-size: large;
}

.inline-block-span {
    display: inline-block;
}